table {background:#ccc;border:1px solid red}
*{background: black;}
.size{color: red;font-size:large;}
#
#info{padding: 10px;text-align:left; color:red;font-size: 13px}
h1{text-decoration:underline}
#content{margin-left:14px;position: relative;left: 200px}
.anchor{
	font-size: 40px;

}
.anchor:visitor{color: red;opacity: .8;}
.anchor:hover{color: green;opacity: .8;}
.anchor:visitor{color: blue;opacity: 1;}


